body {
    background-color: rgb(152, 152, 152);
}

.header {
    display: flex;
    column-gap: 900px;    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    vertical-align: bottom;
}

li { 
    float: left;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.nav li {
    list-style-type: none;
    display: inline-block;
    text-align: right;
    padding: 16px 14px;
}

.footer {
    background-color: black;
    position: fixed;
    bottom: 0;
}